.sidebar {
    border-right: 1px solid var(--twitter-backgroundcolor);
    flex: 0.2;
    min-width: 200px;
    margin-top: 20px;
    padding: 0 20px;


}

.sidebar__twitterIcon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin: 0 0 20px 20px
}

.sidebar__tweet {
    width: 50px;
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    padding: 10px 20px !important;
    
}