.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-backgroundcolor);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}
.tweetBox__input {
    display: flex;
    padding: 20px;
    
}
.tweetBox__input > input{
   flex: 1;
   margin-left: 20px;
   font-size: 20px;
   border: none;
   
}

.tweetBox__tweetButton{
    /* max-width: 50px !important; */
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    /* margin-top: 0px !important; */
    margin-left: auto !important;
}

.tweetBox__inputImage{
    display: flex;
    border: none;
    padding: 20px;
}